{% extends "base.admin.html.twig" %}

{% block title %}
	Creation d'un champs de saisis
{% endblock %}

{% block titre %}
	Creation d'un champs de saisis
{% endblock %}
{% block body %}
	<div class="card"><br>
		<div class="container">
			<form action="" method="POST">
				<label for="label"></label>
				
			</form>
			<a href="{{path("admin_projet_home")}}" class="btn btn-outline-primary">Retour</a>
		</div>
	</div>
{% endblock %}
