{% extends "base.user.html.twig" %}
{% block title %}{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="assets/css/styleParametre.css">
{% endblock %}

{% block body %}
	<div class="container">
		{{ form(form) }}
		</div>
	{% endblock %}
