{% extends "base.admin.html.twig" %}

{% block title %}
	finalistion du projet
{% endblock %}

{% block titre %}
	finalistion du projet
{% endblock %}
{% block body %}
	<div class="card"><br>
		<div class="container">
			{{ form(finalisationForm) }}
			<a href="{{path("admin_projet_home")}}" class="btn btn-outline-primary">Retour</a>
		</div>
	</div>
{% endblock %}
