{% extends "base.admin.html.twig" %}

{% block title %}
	Soummission de la reponse
{% endblock %}

{% block titre %}
	Soummission de la reponse
{% endblock %}
{% block body %}
	<div class="card"><br>
		<div class="container">
			<form action="" method="POST">
				<label for="label">{{ input.label }}</label>
				{{ form(inputSubmitForm) }}
				
			</form>
			<a href="{{path("admin_projet_finalisation", {id: projet.id})}}" class="btn btn-outline-primary">Retour</a>
		</div>
	</div>
{% endblock %}
