<nav class="navbar top-navbar col-lg-12 col-12 p-0">
	<div class="container">
		<div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
			<a class="navbar-brand brand-logo" href="index.html">
				<img src="../assets/images/logo.svg" alt="logo"/>
				<span class="font-12 d-block font-weight-light">
				</span>
			</a>
			<a class="navbar-brand brand-logo-mini" href="index.html"><img src="../assets/images/logo-mini.svg" alt="logo"/></a>
		</div>
		<div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
			<ul class="navbar-nav mr-lg-2">

			</ul>
			<ul class="navbar-nav navbar-nav-right">
				<li class="nav-item nav-profile dropdown">
					<a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
						<div class="nav-profile-img">
							<img src="{{ asset("../assets/images/faces/face1.jpg") }}" alt="image"/>
						</div>
						<div class="nav-profile-text">
							<p class="text-black font-weight-semibold m-0">
								Nom Utiliateur
							</p>
						</div>
					</a>
				</li>
			</ul>
			<button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="horizontal-menu-toggle">
				<span class="mdi mdi-menu"></span>
			</button>
		</div>
	</div>
</nav>
