<h1>Information de
	<strong>EvaProjet@gmail.com</strong>
</h1>

<div class="container">
	<h2>L' Administrateur vous informe que vous avez ete banis de la plateforme EvaProjet@gmail.com. Veuillez contacter l'administrateur si vous souhaiter etre reautoriser a acceder a votre compte</h2>
</div>
